<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="breadcrumb">
     	<!--Start breadcrumb fragments -->
    <!--       Search-->
    <div class="container-fluid mt-5 py-3" style="background-color: #e0e0e0">
        <div class="row d-flex flex-column justify-content-center align-items-center my-3">
            <div class="my-3">
                <h4>Search Theo Khoảng Giá --></h4>
            </div>
            <form action="/" class="d-flex">
                <select name="fromPrice" class="form-control mr-3" style="width: 300px;">
                    <option value="1000000">1 Triệu</option>
                    <option value="2000000">2 Triệu</option>
                    <option value="3000000">3 Triệu</option>
                    <option value="5000000">5 Triệu</option>
                    <option value="7000000">7 Triệu</option>
                    <option value="10000000">10 Triệu</option>
                </select>
                <select name="toPrice" class="form-control mr-3" style="width: 300px;">
                    <option value="1000000">1 Triệu</option>
                    <option value="2000000">2 Triệu</option>
                    <option value="3000000">3 Triệu</option>
                    <option value="5000000">5 Triệu</option>
                    <option value="7000000">7 Triệu</option>
                    <option value="10000000">10 Triệu</option>
                    <option value="30000000">30 Triệu</option>
                </select>
                <input type="submit" class="btn btn-primary" value="Search" style="width: 150px">
            </form>
        </div>
    </div>
         <!--End breadcrumb fragments-->
</th:block>
</html>