<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
     	<!--Start footer fragments-->
	<!--        Footer-->
	<div class="container-fluid">
		<div class="row d-flex flex-column justify-content-center align-items-center"
			 style="height:120px; background-color: rgb(51,50,52)">
			<p class="text-secondary text-center">All material herein © 2005–2019 Agoda Company Pte. Ltd. All Rights
				Reserved.<br>Agoda is part of Booking Holdings Inc., the world leader in online travel & related
				services.
			</p>
		</div>
		<div class="row d-flex justify-content-around" style="height:80px; background-color: rgb(51,50,52)">
			<img src="https://www.facebook.com/images/fb_icon_325x325.png" class="rounded"
				 style="width:50px;height:50px">
			<img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" class="rounded"
				 style="width:50px;height:50px">
			<img src="http://pngimg.com/uploads/amazon/amazon_PNG5.png" class="rounded"
				 style="width:50px;height:50px">
			<img src="https://cdn.imgbin.com/3/9/9/imgbin-mastercard-logo-credit-card-maestro-payment-card-mastercard-3P0kuVP1Q6S24Meus6vDSSC21.jpg"
				 class="rounded" style="width:50px;height:50px">
			<img src="https://www.stickpng.com/assets/images/5847fafdcef1014c0b5e48ce.png" class="rounded"
				 style="width:60px;height:40px">
		</div>
		<div class="row justify-content-center align-items-center" style="height:50px;background-color: #565557">
			<p class="text-white pt-2">Bản quyền trang web thuộc về: *** CODEGYM DA NANG ***</p>
		</div>
	</div>
	   <!--End footer fragments-->
</th:block>
</html>